//
// Main
//

$footerHeight: 57px;
$red: #7d0911;

@include fontFace('Crimson', 'crimsontext-regular');
@include fontFace('Crimson', 'crimsontext-semibold', 600);
@include fontFace('Crimson', 'crimsontext-bolditalic', 700, italic);

html{
	@include bg(#fff, 'bg.jpg', 50% 0, repeat);
	height:100%;
}

body{
	height:100%;
	@include bg('bg-photo.png', 50% 0, no-repeat);
	font-family: 'Crimson', serif;
	color: #333333;
}

.inner{
	width: 1300px;
	margin: 0 auto;
	position: relative;
	
	.body > &{
		//padding-bottom: $footerHeight;
		padding-bottom: 252 + $footerHeight;
	}
}

.body{
	min-height: 100%;
	position: relative;
}

.pageFooter{
	@include absB(0, 0);
	width: 100%;
	height: $footerHeight;
	@include bg($red);
	
	.logo{
		display: block;
		float: left;
		width: 164px;
		height: 50px;
		@include bg('logo-mini.png', 50% 50%);
		margin: 2px 0 0 5.92%;
	}
	
	.social{
		float: right;
		margin-top: 10px;
		margin-right: 26px;
		
		a{
			display: inline-block;
			width: 29px;
			height: 34px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			
			&.facebook{
				@include bgImg('ico-facebook.png');
			}
			
			&.vimeo{
				@include bgImg('ico-vimeo.png');
			}
		}
	}
	
	.menu{
		float: right;
		margin-top: 10px;
		margin-right: 15px;
		
		li{
			float: left;
		}

		a{
			display: block;
			height: 34px;
			padding: 0 10px;
			line-height: 34px;
			text-transform: uppercase;
			font-size: 1.3em;
			color: #fff;
			font-weight: 600;

			&:hover{
				@include bg(#fff);
				color: $red;
			}
		}
	}
}

.pageHeader{
	height: 196px;
	padding-top: 126px;

	&:before,
	&:after{
		content: '';
		width: 132px;
		height: 226px;
		position: absolute;
		top: 104px;
		z-index: 8;
	}

	&:before{
		left: -49px;
		@include bg('jewellery-left.png', 50% 50%);
	}

	&:after{
		right: -53px;
		@include bg('jewellery-right.png', 50% 50%);
	}
}

.pageLogo{
	@include abs(39px, 23px);
	z-index: 9;
}

.pageMenu{
	width: 100%;
	height: 70px;
	@include bg($red, 'jewellery-line.png', 50% 100%, repeat-x);
	
	ul{
		margin-left: 395px;
		padding-top: 11px;
	}
	
	li{
		float: left;
	}
	
	a{
		display: block;
		height: 34px;
		padding: 0 10px;
		line-height: 34px;
		text-transform: uppercase;
		font-size: 1.3em;
		font-weight: 600;
		color: #fff;
		
		&:hover{
			@include bg(#fff);
			color: $red;
		}
	}
}

.pageContent{
	position: relative;
	@include bg(#f0f1f1, 'jewellery-line.png', 50% 100%, repeat-x);
	background: url($imagesDir + 'jewellery-line.png') 50% 100% repeat-x,
				-moz-linear-gradient(top,  rgba(240,241,241,.5) 0%, rgba(240,241,241,1) 230px);
	background: url($imagesDir + 'jewellery-line.png') 50% 100% repeat-x,
				-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,241,241,.5)), color-stop(230px,rgba(240,241,241,1)));
	background: url($imagesDir + 'jewellery-line.png') 50% 100% repeat-x,
				-webkit-linear-gradient(top,  rgba(240,241,241,.5) 0%,rgba(240,241,241,1) 230px);
	background: url($imagesDir + 'jewellery-line.png') 50% 100% repeat-x,
				-o-linear-gradient(top,  rgba(240,241,241,.5) 0%,rgba(240,241,241,1) 230px);
	background: url($imagesDir + 'jewellery-line.png') 50% 100% repeat-x,
				-ms-linear-gradient(top,  rgba(240,241,241,.5) 0%,rgba(240,241,241,1) 230px);
	background: url($imagesDir + 'jewellery-line.png') 50% 100% repeat-x,
				linear-gradient(to bottom,  rgba(240,241,241,.5) 0%,rgba(240,241,241,1) 230px);
	padding-bottom: 13px;
	
	&:after{
		content: '';
		width: 100%;
		height: 16px;
		@include bg('shadow-content.png', 50% 0);
		position: absolute;
		bottom: -16px;
		left: 0;
		z-index: 2;
	}
	
	&:before{
		content: '';
		width: 504px;
		height: 422px;
		@include bg('footer-horse.png', 0 0);
		position: absolute;
		bottom: -76px;
		left: 85px;
		z-index: 3;
	}
}

.pageContacts{
	font-size: 1.4em;
	text-align: right;
	text-transform: uppercase;
	padding-right: 19px;
	margin-top: 11px;
	
	span{
		display: inline-block;
		margin-left: 4px;
		margin-right: 4px;
	}
	
	a{
		
		&:hover{
			text-decoration: underline;
		}
	}
}

.content{
	@include bg('content-bg.jpg', 50% 100%);
	padding-bottom: 360px;
}

.contentInner{
	width: 100%;
	max-width: 952px;
	margin: 0 auto;
	padding-top: 36px;
	
	.overline{
		color: #242424;
		font-size: 3.4em;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 55px;
		
		a{
			
			&:hover{
				text-decoration: underline;
			}
			
			&.back{
				
				&:before{
					content: '< ';
				}
			}
		}
	}
}

.homepage{
	@include clear();
	padding-bottom: 35px;
	
	.left{
		float: left;
		width: 334px;
		margin-left: 40px;
		border-right: 1px solid #bdbebe;
		border-bottom: 16px solid #bdbebe;
		@include bg(#e6e7e7);
		padding: 126px 9px 63px;
		
		h2{
			font-size: 1.6em;
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 3px;
			margin-left: 2px;
			margin-right: 2px;
			margin-bottom: 5px;
			padding-bottom: 7px;
			border-bottom: 1px solid #6f7070;
		}
		
		.image{
			position: relative;
			margin-bottom: 10px;
			
			&:after{
				content: '';
				width: 100%;
				height: 6px;
				@include bg('shadow-home.png', 50% 0);
				position: absolute;
				left: 0;
				bottom: -6px;
			}
			
			img{
				display: block;
			}
		}
		
		h3{
			font-size: 4.6em;
			font-weight: 700;
			font-style: italic;
			text-align: center;
			margin-bottom: 8px;
		}
		
		p{
			font-size: 1.6em;
			text-align: center;
			border-bottom: 1px solid #6f7070;
			padding-bottom: 14px;
			margin-bottom: 12px;
			margin-left: 2px;
			margin-right: 2px;
		}
		
		.more{
			float: right;
			font-size: 1.2em;
			text-transform: uppercase;
			margin-right: 6px;
			
			&:after{
				content: '>';
			}
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	.right{
		float: right;
		width: 793px;
		padding-top: 68px;
	}
	
	.carousel{
		width: 638px;
		height: 472px;
		position: relative;
		float: left;
		
		&:after{
			content: '';
			width: 100%;
			height: 18px;
			@include bg('shadow-slideshow.png', 50% 0);
			background-size: 100% auto;
			position: absolute;
			left: 0;
			bottom: -18px;
		}
		
		.owl-controls{
			position: absolute;
			top: 100px;
			left: 100%;
			width: 153px;
			margin-top: 0;
		}
	}
	
	.buttons{
		float: right;
		margin-top: 124px;
		margin-right: 6px;
		
		a{
			display: block;
			width: 144px;
			height: 62px;
			margin-bottom: 6px;
			@include bg(#333);
			background-position: 50% 50%;
			background-repeat: no-repeat;

			&.facebook{
				@include bgImg('facebook.png');
			}

			&.vimeo{
				@include bgImg('vimeo.png');
			}

			&.qnine{
				@include bgImg('qnine.png');
			}
		}
	}
}

.homepageWelcome{
	@include bg(#242424);
	padding: 15px 8.08% 36px 504px;
	color: #fff;
	
	h2{
		font-size: 4.6em;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 20px;
	}
	
	p{
		font-size: 1.6em;
		line-height: 20px;
	}
}

.list{
	@include clear();
	
	.listItem{
		float: left;
		width: 28.05%;
		margin: 0 2.64% 20px;
		text-align: center;
		
		img{
			display: block;
			max-width: 100%;
			border: 10px solid #fff;
			margin: 0 auto 12px;
		}
		
		h2{
			font-size: 1.7em;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 3px;
		}
		
		p{
			font-size: 1.3em;
			text-transform: uppercase;
			line-height: 18px;
			
			small{
				text-transform: none;
			}
		}
		
		&:hover img{
			border-color: $red;
		}
	}
}

.detailDescription{
	float: right;
	width: 45.9%;
	margin-right: 3.78%;
	
	h1{
		color: $red;
		font-size: 3.6em;
		font-weight: 700;
		font-style: italic;
	}
	
	.small{
		font-size: 1.3em;
		margin-top: 0;
	}
	
	p{
		font-size: 1.6em;
		line-height: 18px;
		margin: 18px 0;
	}
	
	.buttons{
		border-top: 1px solid #626262;
		padding-top: 17px;
		
		a{
			display: inline-block;
			width: 46%;
			margin: 0 2%;
			text-align: center;
			@include bg(#7d0911);
			height: 51px;
			line-height: 43px;
			color: #fff;
			font-size: 2.4em;
			font-weight: bold;
			font-style: italic;
			text-transform: uppercase;
			border: 4px solid $red;
			
			&:hover{
				@include bg(#fff);
				color: $red;
			}
		}
	}
}

.detailImage{
	width: 46.11%;
	float: left;
	
	img{
		display: block;
		max-width: 100%;
		border: 10px solid #fff;
	}
	
}

.detailCarouselWrap{
	clear: both;
	padding-top: 16px;
	margin-bottom: 80px;
}

.detailCarousel{
	
	.owl-item{
		
		a{
			display: block;
			margin-right: 8px;
			
			&:hover img{
				border-color: $red;
			}
		}
		
		&:last-child a{
			margin-right: 0;
		}
		
		img{
			display: block;
			border: 10px solid #fff;
			max-width: 100%;
		}
	}
	
	.owl-controls .owl-buttons{
		
		.owl-prev,
		.owl-next{
			width: 28px;
			height: 28px;
			background-color: transparent;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			position: absolute;
			top: 61px;
			border-radius: 0;
			opacity: 1;
			margin: 0;
			padding: 0;
		}

		.owl-prev{
			left: 3px;
			@include bg('prev.png');
		}

		.owl-next{
			right: 11px;
			@include bg('next.png');
		}
	}
}
