*, *:before, *:after {
  background: transparent none !important; }

html, body {
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  background-color: #fff !important; }

form,
aside,
footer,
nav {
  display: none; }
